<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azione</title>
</head>
<body>
    <img src="{{sign_gif}}" class="figure-img img-fluid rounded" alt="segno lis">
    <h1 class="text-center"> {{name_gif}} </h1>
    <h5 class="text-center">
        <button type="button" id="recognize" class="btn btn-primary"> <a href={{ url_for('minigioco') }}> Avanti </a> </button>
        <button type="button" id="index" class="btn btn-primary"> <a href={{ url_for('index') }}> Homepage </a> </button>
    </h5>
</body>
</html>